<h2>{{model.oTags.cTitle}} - {{(form.controls['id'].value ? 'Editar' : 'Nuev'+model.oTags.cEnd) + " "+model.oTags.cSingular}}</h2>
<form [formGroup]="form" (submit)="guardarDatos()" *ngIf="form">
    <!-- <div class="form-row">
        <div class="form-group col-md-2">
            <label for="id">Id</label>
            <input class="form-control" formControlName="id" readonly>
        </div>
    </div> -->
    <div class=" form-row">
        <div class="form-group col-md-4" *ngFor="let input of model.lstInputs">
            <label>{{input.cLabel}}</label>
            <input class="form-control" [formControlName]="input.cName"
                [className]="(form.controls[input.cName].invalid && (form.controls[input.cName].dirty || form.controls[input.cName].touched))?'form-control is-invalid' : 'form-control'"
                >
            <div class="invalid-feedback">
                Revisar campo.
            </div>
        </div>

        <!-- <div class="form-group col-md-4">
            <label for="f_lastname">Primer Apellido</label>
            <input class="form-control" formControlName="f_lastname"
                [className]="(form.controls['f_lastname'].invalid && (form.controls['f_lastname'].dirty || form.controls['f_lastname'].touched))?'form-control is-invalid' : 'form-control'">
            <div class="invalid-feedback">
                Primer Apellido invalido.
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="s_lastname">Segundo Apellido</label>
            <input class="form-control" formControlName="s_lastname"
                [className]="(form.controls['s_lastname'].invalid && (form.controls['s_lastname'].dirty || form.controls['s_lastname'].touched))?'form-control is-invalid' : 'form-control'">
            <div class="invalid-feedback">
                Segundo Apellido invalido.
            </div>
        </div> -->
    </div>


    <!-- <div class="form-row">
        <div class="form-group col-md-6">
            <label for="r_user">Usuario de Registro</label>
            <input type="text" class="form-control" formControlName="r_user"
                [className]="(form.controls['r_user'].invalid && (form.controls['r_user'].dirty || form.controls['r_user'].touched))?'form-control is-invalid' : 'form-control'">
            <div class="invalid-feedback">
                Usuario invalido.
            </div>
        </div>
    </div> -->

    <button type="button" class="btn btn-secondary m-1" [disabled]="form.invalid" (click)="form.controls['id'].value ? openConfirmation(updateConfirmation,'update',e) : openConfirmation(saveConfirmation,'save',e)">Guardar</button>
    <button type="button" class="btn btn-outline-secondary m-1" (click)="resetForm()">{{form.controls['id'].value ? 'Nuevo':'Limpiar'}}</button>
</form>
    <br>
    <br>
    <div class="table-header">
        <h2>{{model.oTags.cTitle}}</h2>
        <div class="form-group col-md-4">
            <label>Buscar por {{model.lstInputs[model.iBuscable].cLabel}}</label>
            <input class="form-control" [(ngModel)]="filter">
        </div>
    </div>

    <table class="table table-hover table-bordeless">
        <thead class="thead-dark">
            <tr>
                <th *ngFor="let col of  model.lstInputs">{{col.cLabel}}</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let e of filterList('nombre') | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{e.id}}</td>
                <td>{{e.nombre}}</td>
                <td>{{e.primer_apellido}}</td>
                <td>{{e.segundo_apellido}}</td>
                <td>{{e.usuario_registro}}</td>
                <td>{{e.estatus ? 'Activo': 'Inactivo'}}</td>
                <td>
                        <button class="btn btn-outline-secondary m-1 btn-sm" (click)="editarEmpleado(e)">Editar</button>
                        <button class="btn btn-outline-danger m-1 btn-sm" (click)="openConfirmation(deleteConfirmation,'delete',e)" [disabled]="!e.estatus">Eliminar</button>

                </td>
            </tr> -->

        </tbody>
    </table>
    <p class="text-center" style="color: #7f8c8d" *ngIf="lst.length == 0">Sin registros...</p>
    <!-- <ngb-pagination [collectionSize]="filterList('nombre').length" [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination> -->







<ng-template #deleteConfirmation let-modal>
        <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmación de Eliminación</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Estás seguro de eliminar este registro <span class="text-primary"></span> ?</strong></p>
    <p>Toda la información asosiada a él se eliminará permanentemente.
    <span class="text-danger">Esta operación no se puede revertir.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" ngbAutofocus  (click)="modal.dismiss(false)">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="modal.close(true)">Aceptar</button>
    </div>
  </ng-template>

  <ng-template #updateConfirmation let-modal>
        <div class="modal-header">
    <h4 class="modal-title" id="modal-title">Confirmación de Modificación</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Estás seguro de actualizar los datos de este registro <span class="text-primary"></span> ?</strong></p>
    <p>Toda la información que fue modificada asosiada a él se eliminará permanentemente.
    <span class="text-danger">Esta operación no se puede revertir.</span>
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" ngbAutofocus  (click)="modal.dismiss(false)">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Aceptar</button>
    </div>
  </ng-template>


  <ng-template #saveConfirmation let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Confirmación de Guardar</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Estás seguro de guardar este registro ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.dismiss('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="modal.close(true)" ngbAutofocus>Aceptar</button>

        </div>
      </ng-template>