<nav [ngClass]="hiddenSideBar ? 'active' : ''" id="sidebar">
  <div class="sidebar-header">
    <a style="color:#fff;" routerLink="form">Hospital Civil</a>
  </div>
  <div class="sesion">
    <p>Nombre: <b>Ejemplo</b></p>
  </div>
  <ul class="components">
    <li *ngFor="let cat of c.lstForms">
      <a [routerLink]="['c'+'/',cat.cName]"
          routerLinkActive="active">
        <i [class]="cat.cIcon"></i>
        {{ cat.oTags.cTitle }}</a
      >
    </li>
    <li>
      <a [routerLink]="['incidence']"
          routerLinkActive="active">
        <i class="fa fa-user-clock"></i>
        Registrar Incidencias</a
      >
    </li>
  </ul>
</nav>
